<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>


    <!-- Spring -->
    <!-- logger name="org.springframework.web.reactive" level="TRACE" -->
    <!-- logger name="com.fasterxml.jackson" level="DEBUG" -->

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.security" level="INFO" />
    <logger name="org.springframework.security.web.server" level="INFO" />

    <logger name="io.grpc.netty" level="INFO" />
    <logger name="io.netty.util" level="DEBUG" />

	 <logger name="org.springframework.web.server.session" level="INFO" />
     <logger name="org.springframework.web.reactive.handler" level="INFO" />
     <logger name="org.springframework.web.reactive.result.method.annotation" level="INFO" />
     <logger name="org.springframework.web.server.handler" level="DEBUG" />
     <logger name="org.springframework.messaging.rsocket" level="DEBUG" />

    <!-- iCure -->
    <logger name="org.taktik.couchdb.ClientImpl" level="INFO" />

    <logger name="org.taktik" level="INFO" />
    <logger name="org.taktik.couchdb" level="INFO" />
    <logger name="org.taktik.icure.services.external.http" level="INFO" />

    <!-- uncomment the following line to log expected errors -->
    <!-- <logger name="org.taktik.icure.services.external.rest.v1.error.WsExceptionMapper" level="DEBUG" /> -->

    <logger name="org.apache.commons" level="WARN" />

    <logger name="ch.qos.logback" level="WARN" />

    <logger name="com.hazelcast" level="INFO" />

    <!--logger name="org.springframework.context.annotation" level="TRACE" /-->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
